// --- [ SCSS Variables ] -------------------------
// You can configure the grid using scss variables

//  Grid Layout   ->  (10 rows by 10 columns)
$gridTempCols:      repeat(10, auto [col-start]);
$gridTempRows:      repeat(10, auto [row-start]);
//  hd: header    ->  (1 row by 10 columns)
//  mb: main body ->  (8 rows by 10 columns)
//  ft: footer    ->  (1 row by 10 columns)          
$gridTempAreas:     "hd hd hd hd hd hd hd hd hd hd"
                    "mb mb mb mb mb mb mb mb mb mb"
                    "mb mb mb mb mb mb mb mb mb mb"
                    "mb mb mb mb mb mb mb mb mb mb"
                    "mb mb mb mb mb mb mb mb mb mb"
                    "mb mb mb mb mb mb mb mb mb mb"
                    "mb mb mb mb mb mb mb mb mb mb"
                    "mb mb mb mb mb mb mb mb mb mb"
                    "mb mb mb mb mb mb mb mb mb mb"
                    "ft ft ft ft ft ft ft ft ft ft";
                          
//  Styling                      
$mainBgColor:     rgb(20, 20, 20);
$mainBorderColor:   dashed 2px rgb(255, 175, 28);
$mainColor:       rgb(255, 175, 28);
$mainFont:          helvetica;
$mainFontSize:      14px;


// --- [ Body ] ------------------------------------

body {
  background-color: $mainBgColor;
  color:            $mainColor;
  font-family:      $mainFont;
  font-size:        $mainFontSize;
}

// --- [ Grid ] ------------------------------------

.full-height-container {
  border:                 $mainBorderColor;
  grid-template-areas:    $gridTempAreas;
  grid-template-columns:  $gridTempCols;
  grid-template-rows:     $gridTempRows;

  height:       100vh;
  width:        100%;
  align-items:  stretch;
  display:      grid;
}

.header     { grid-area: hd; }
.main-body  { grid-area: mb; }
.footer     { grid-area: ft; }

.header, .main-body, .footer {
  border:   $mainBorderColor;

  margin:   15px;
  padding:  0 15px 0 15px;
}